# Database
DATABASE_URL="postgresql://postgres.tsdnwdwcwnqygyepojaq:16mw74F7xDunCkAM@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="lash"
NEXTAUTH_URL="https://artist-funding-platform.vercel.app"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://tsdnwdwcwnqygyepojaq.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzZG53ZHdjd25xeWd5ZXBvamFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg3MTUyMzksImV4cCI6MjA3NDI5MTIzOX0.3MtQ-LHueC_MAy8g9FmzghcKdOHknu-EtRsnbIvdzlQ"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzZG53ZHdjd25xeWd5ZXBvamFxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODcxNTIzOSwiZXhwIjoyMDc0MjkxMjM5fQ.YjSQaiK1UnQ_EWgdkdu3FVd4niwMi0X2F6WPFQ3xjck"

# OAuth (optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
KAKAO_CLIENT_ID=""
KAKAO_CLIENT_SECRET=""
